.tabbed {
    list-style-type: none;
    cursor: pointer;
}

.tabbed li {
    border: 2px dashed tan;
    width: calc(50% - 20px);
    display: inline-block;
    padding-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tabbed .active {
    background-color: tan;
    color: white;
}

.chartWrapper {
    position: relative;
}

.chartWrapper>canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.chartAreaWrapper {
    width: 100%;
    overflow-x: scroll;
}